@font-face {
  font-family: Doom; /* set name */
  src: url(AmazDooMRight.ttf); /* url of the font */
}
@font-face {
  font-family: MainFont; /* set name */
  src: url(Pixel\ Digivolve.otf); /* url of the font */
}
input{
    font-family: MainFont;
    font-size: 2vw;
    border: none;
    border-radius: 1.5vw;
    text-align: center;
    stroke: blanchedalmond 1vw;
    padding: 1.5vw;
    box-shadow:blanchedalmond;
}
button{
  font-family: MainFont;
  border: none;
  border-radius: 1.5vw;
  background-color: rgb(255, 255, 49);
padding: 1vw;
margin: 0.5vw;
}
button:hover{
  animation:forwards 0.2s ;
animation-name: MovingButtons;
}
button:not(:hover){
  animation:forwards 0.2s ;
animation-name: HoverOutButtons;
}
@keyframes HoverOutButtons{
  0%{
    transform: scale(1.1);
  }
  100%{
transform: scale(1);
  }
}
@keyframes Title{
  0%{
    scale: 1;
  }
  25%{
    rotate: 3deg;
  }
  50%{
    scale: 1.1;
  }
  75%{
    rotate:-3deg;
  }
  99%{
    scale: 1;
  }
}
@keyframes BackgroundColorChange{ 
  0%{
    background-color: rgb(255, 132, 132);
  }
  10%{
    background-color: rgb(255, 205, 113);
  }
  20%{
    background-color: rgb(230, 230, 96);
  }
  30%{
    background-color:rgb(201, 255, 120);
  }
  50%{
    background-color: rgb(129, 129, 255);
  }
  70%{
    background-color: rgb(205, 88, 205);
  }
  90%{
    background-color: rgb(243, 132, 151);
  }
  100%{
    background-color: rgb(255, 132, 132);
  }
}
@keyframes MovingButtons{
  0%{
    transform: scale(1);
  }
  100%{
transform: scale(1.1);
  }
}
body {
animation:ease BackgroundColorChange 10s infinite;
background-size: cover;
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
background-position: center;
margin: 0;
            padding: 0;
            height: 100vh;
}
.lobbymain{
  align-content: center;
  align-items: center;
  align-self: center;
  display:flex;
  flex-direction: column;
  font-family: MainFont;
}
select{
    font-family: MainFont;
    font-size: 2vw;
    border: none;
    border-radius: 1.5vw;
    text-align: center;
    outline: none;
    min-height: 4vh;
}
::selection {
  background: red;
}

.defaulttext{
    font-family: MainFont;
    color: #320000;
    font-size: 3.5vw;
    align-content: center;
    border: dotted;
}
.customization{
  align-self: center ;
  font-family: MainFont;
  color: #320000;
}
.colorselection{
  width: 2vw;
  scale: 2.5;
  padding: 1vw;
  border: none;
  margin: 1.5vw;
}
.padding{
  padding: 2vw;
}
h1{
  animation: Title 8s infinite;
  animation-direction:normal;
  animation-timing-function:linear;
    font-family: Doom;
    -webkit-text-stroke: black 0.01vw;
    color: #ce4141;
    font-size: 7em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0.5vh;
}
h3{
   text-align: center;
    color: #320000;
    box-shadow: #320000 0px 0px 10vw;
    font-family: MainFont;
}

